.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem;
  --radius: 0.5rem;
  border-radius: calc(var(--radius) - 2px);
  background-color: #222;
  border: 1px solid #333;
}

.info-container p {
  color: inherit;
  font-size: inherit;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  font-size: 0.75rem;
}

.info-label {
  font-size: 0.85rem;
  text-align: center;
}

.input {
  flex: 1;
}

.info-value {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex: 1;
}

.summary-container {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 0;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.375rem;
  padding-inline: 0.5rem;
  font-size: 0.75rem;
  gap: 0.5rem;
}

.summary-item:not(:first-child):not(:last-child) {
  padding-block: 0.5rem;
}

.summary-item:not(:last-child) {
  border-bottom: 1px solid #444;
}

.summary-label {
  color: #bbb;
  margin-right: auto;
}

.summary-value {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.status-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.status-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.2;
  --padding-inline: 0.75rem;
  --padding-block: 0.75rem;
}

.status-icon-container {
  isolation: isolate;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
  background-color: var(--icon-col, var(--col));
  border: 1px solid #212121;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.status-icon-container svg {
  width: 1.25rem;
  height: 1.25rem;
}

.status-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  font-size: 0.75rem;
}

.status-title {
  font-size: 0.875rem;
  color: var(--col);
}

.status-body {
  color: var(--col);
}

.status-completed {
  --col: #07b059;
}
.status-errored {
  --col: #ff3333;
}
.status-in-progress {
  --col: #f5a336;
}
.status-waiting {
  --icon-col: #aaa;
  --col: var(--theme-text-secondary);
}
.status-cancelled {
  --icon-col: #aaa;
  --col: var(--theme-text-secondary);
}

.status-box:where(.status-waiting, .status-cancelled)
  .status-icon-container
  svg {
  color: #444;
}

.status-status {
  color: var(--theme-text-secondary);
}
