.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  padding-right: 0.125rem;
  margin-right: -0.125rem;
  height: 25rem;
}

.transaction {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: rgba(176, 176, 176, 0.17);
  border-radius: 0.375rem;
  line-height: 1.2;
}

.spinner {
  margin-inline: auto;
  margin-top: 1rem;
}

.tags {
  display: flex;
  gap: 0.25rem;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.1875rem;
  padding-block: 0.125rem;
  padding-inline: 0.375rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.left-info {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.token-img {
  align-self: flex-start;
  width: 2rem;
  height: 2rem;
}

.info-text-container {
  display: flex;
  flex-direction: column;
}

.info-text-sm {
  font-size: 0.875rem;
  color: #aaa;
  font-weight: 500;
}

.right-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.125rem;
}

.extras {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.extra {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 999rem;
  padding-block: 0.125rem;
  padding-inline: 0.5rem;
  padding-left: 0.1875rem;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
}

.extra svg {
  width: 0.875rem;
  height: 0.875rem;
}

@media (max-width: 600px) {
  .container {
    height: 25rem;
  }
  .transaction {
    font-size: 0.75rem;
    padding: 0.375rem;
  }
  .tag {
    font-size: 0.625rem;
  }
  .token-img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .info-text-sm {
    font-size: 0.75rem;
  }
  .extras {
    font-size: 0.625rem;
    padding-left: 0.125rem;
    font-weight: 600;
    margin-top: 0.125rem;
  }
  .extra svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}
