.payment-status {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  transition: color 200ms ease-out;
}

.status-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.status-paid .payment-status {
  color: #22c55e;
}

.status-expired .payment-status {
  color: #ff3333;
}

.status-label {
  display: flex;
  align-items: center;
  gap: 0.25em;
  color: var(--status-col);
}

.status-label svg {
  width: 1em;
  height: 1em;
  stroke: var(--status-col);
}

.status-time {
  color: var(--theme-text-secondary);
}

.status-bar {
  position: relative;
  width: 100%;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 999rem;
  overflow: hidden;
}

.status-bar::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--status-col);
  border-radius: 999rem;
  transition: width 200ms ease-out;
}

.status-unpaid .status-bar::after {
  width: calc(var(--frac) * 100%);
}

.payment-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  align-items: center;
}

.qr {
  border-radius: 0.5rem;
  width: 8rem;
  height: 8rem;
  padding: 0;
  border: 2px solid #1e293b;
}

.number-value {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.number-value-label {
  font-size: 0.875rem;
  font-weight: 500;
}

.payment-values {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  align-self: stretch;
}

.hint-text {
  font-weight: 400;
  font-size: 0.875rem;
  color: #aaa;
}

.bold {
  font-weight: 700;
  color: #fff;
}
