@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Actay Wide";
  src: url("../public/font/ActayWide-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../public/font/Actay-Regular.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../public/font/ActayCondensed-Thin.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background: #0b0d10;
}

@layer base {
  h1 {
    color: #fff;
    font-family: "Actay Wide", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .h1 {
    color: #fff;
    font-family: "Actay Wide", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .a_tags {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.28px;
  }

  .alt {
    color: #fffffe;
    font-family: "Actay Wide", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .heading-alt {
    background: linear-gradient(
      90deg,
      #f9f295 5.47%,
      #e0aa3e 38.55%,
      #f9f295 69.43%,
      #b88a44 97.22%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .faded {
    color: rgba(255, 255, 254, 0.5);
    font-family: "Actay Wide", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  h2 {
    color: #fff;
    text-align: center;
    font-family: "Actay Wide";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  h3 {
    color: #fffffe;
    text-align: center;
    font-family: "Actay Wide";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  h4 {
    color: #fffffe;

    text-align: center;
    font-family: "Actay Wide";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  h5 {
    color: #fffffe;
    font-family: "Actay Wide";
    font-size: 18.347px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  h6 {
    font-family: "Actay Wide";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 20.8px */
  }
  p {
    color: #cacaca;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.32px;
  }
  .btn-primary {
    position: relative;
    color: #0d0e1e;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-radius: 136.752px;
    padding: 12px 36px;
    background: linear-gradient(
      90deg,
      rgba(249, 242, 149, 0.2) 5.47%,
      rgba(224, 170, 62, 0.2) 38.55%,
      rgba(249, 242, 149, 0.2) 69.43%,
      rgba(184, 138, 68, 0.2) 97.22%
    );
    box-shadow: 0 -1.368px 2.735px 0 #f5e99c inset,
      0 1.368px 2.735px 0 #f5e99c inset;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }

  /* Outer blurred gradient layer */
  .btn-primary::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 136.752px;
    background: linear-gradient(
      90deg,
      #f9f295 5.47%,
      #e0aa3e 38.55%,
      #f9f295 69.43%,
      #b88a44 97.22%
    );
    filter: blur(6.8px);
    z-index: -2;
  }

  .btn-primary::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 136.752px;
    background: linear-gradient(
      90deg,
      rgba(249, 242, 149, 0.2) 5.47%,
      rgba(224, 170, 62, 0.2) 38.55%,
      rgba(249, 242, 149, 0.2) 69.43%,
      rgba(184, 138, 68, 0.2) 97.22%
    );
    box-shadow: 0 -1.368px 2.735px 0 #f5e99c inset,
      0 1.368px 2.735px 0 #f5e99c inset;
    z-index: -1;
  }
}

@layer components {
  .card {
    background: #b88a44;
  }
  .dropdown_bg {
    border-radius: 84.498px;
    border: 0.85px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 253, 253, 0.02);
    box-shadow: 0 -2.485px 8.497px 0 rgba(255, 255, 255, 0.58) inset,
      0 3.399px 50.979px 0 rgba(255, 255, 255, 0.08) inset;
  }
  .walletinput_bg {
    border-radius: 6.838px;
    border: 0.684px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
  }
}

@layer utilities {
  .text_gradient {
    background: linear-gradient(
      90deg,
      #f9f295 5.47%,
      #e0aa3e 38.55%,
      #f9f295 69.43%,
      #b88a44 97.22%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Accordion animations */

  .bg_herosection {
    background-image: url(../src//assets/herosection/herobg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bg_resultssection {
    background-image: url(../src//assets/results/results_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bg_gambling_con {
    background-image: url(../src//assets/gambling/gambling_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bg_gambling_inner {
    background-image: url(../src//assets/gambling/gambling_inner.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

/* heading responsive */
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
  }

  h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
}
