@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Actay Wide";
  src: url("../public/font/ActayWide-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../public/font/Actay-Regular.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../public/font/ActayCondensed-Thin.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

body {
  margin: 0 auto;
  min-height: 100vh;
  background: #0b0d10;
  overflow-x: hidden;
}

@layer base {
  h1 {
    color: #fff;
    font-family: "Actay Wide", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 26px;
    }
    .faded {
      font-size: 26px !important;
    }
    p {
      font-size: 14px;
    }
    h2 {
      font-size: 22px;
    }
     h3 {
    font-size: 18px ;
  }
    .Featured_mobile {
      border-radius: 16px;
      border: 0.764px solid rgba(255, 255, 255, 0.1);
      background: rgba(27, 26, 22, 0.4);
      backdrop-filter: blur(8.922223091125488px);
    }
  }

  .a_tags {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.28px;
  }

  .alt {
    color: #fffffe;
    font-family: "Actay Wide", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .heading-alt {
    background: linear-gradient(
      90deg,
      #f9f295 5.47%,
      #e0aa3e 38.55%,
      #f9f295 69.43%,
      #b88a44 97.22%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .faded {
    color: rgba(255, 255, 254, 0.5);
    font-family: "Actay Wide", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  h2 {
    color: #fff;
    text-align: center;
    font-family: "Actay Wide";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
  }
  .faded_heading {
    color: rgba(255, 255, 254, 0.5);
    font-family: "Actay Wide", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  h3 {
    color: #fffffe;
    text-align: center;
    font-family: "Actay Wide";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  h4 {
    color: #fffffe;

    text-align: center;
    font-family: "Actay Wide";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  h5 {
    color: #fffffe;
    font-family: "Actay Wide";
    font-size: 18.347px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  h6 {
    font-family: "Actay Wide";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 20.8px */
  }
  p {
    color: #cacaca;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.32px;
  }
  .btn-primary {
    position: relative;
    color: #0d0e1e;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-radius: 136.752px;
    padding: 12px 36px;
    background: linear-gradient(
      90deg,
      rgba(249, 242, 149, 0.2) 5.47%,
      rgba(224, 170, 62, 0.2) 38.55%,
      rgba(249, 242, 149, 0.2) 69.43%,
      rgba(184, 138, 68, 0.2) 97.22%
    );
    box-shadow: 0 -1.368px 2.735px 0 #f5e99c inset,
      0 1.368px 2.735px 0 #f5e99c inset;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }

  /* Outer blurred gradient layer */
  .btn-primary::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 136.752px;
    background: linear-gradient(
      90deg,
      #f9f295 5.47%,
      #e0aa3e 38.55%,
      #f9f295 69.43%,
      #b88a44 97.22%
    );
    filter: blur(6.8px);
    z-index: -2;
  }

  .btn-primary::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 136.752px;
    background: linear-gradient(
      90deg,
      rgba(249, 242, 149, 0.2) 5.47%,
      rgba(224, 170, 62, 0.2) 38.55%,
      rgba(249, 242, 149, 0.2) 69.43%,
      rgba(184, 138, 68, 0.2) 97.22%
    );
    box-shadow: 0 -1.368px 2.735px 0 #f5e99c inset,
      0 1.368px 2.735px 0 #f5e99c inset;
    z-index: -1;
  }

  .btn-secondary {
    position: relative;
    cursor: pointer;
    color: #0d0e1e;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-radius: 176px;
    background: linear-gradient(
      90deg,
      rgba(191, 191, 190, 0.2) 5.47%,
      rgba(253, 254, 254, 0.2) 38.55%,
      rgba(181, 181, 181, 0.2) 69.43%,
      rgba(245, 244, 245, 0.2) 97.22%
    );
    box-shadow: 0 -1.76px 3.52px 0 #fff inset, 0 1.76px 3.52px 0 #fff inset;
  }
  .btn-secondary::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 176px;
    background: linear-gradient(
      90deg,
      #bfbfbe 5.47%,
      #fdfefe 38.55%,
      #b5b5b5 69.43%,
      #f5f4f5 97.22%
    );
    filter: blur(8.799999237060547px);
    z-index: -2;
  }
  .btn-secondary::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 176px;
    background: linear-gradient(
      90deg,
      rgba(191, 191, 190, 0.2) 5.47%,
      rgba(253, 254, 254, 0.2) 38.55%,
      rgba(181, 181, 181, 0.2) 69.43%,
      rgba(245, 244, 245, 0.2) 97.22%
    );
    box-shadow: 0 -1.76px 3.52px 0 #fff inset, 0 1.76px 3.52px 0 #fff inset;
    z-index: -1;
  }

   .btn-fade {
    position: relative;
    cursor: pointer;
    color: #0d0e1e;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 800;
   
  }
  .btn-fade::before {
    content: "";
    position: absolute;
    width: 94%;
    inset: 0;
   border-radius: 153.846px;
background: linear-gradient(90deg, #F9F295 5.47%, #E0AA3E 38.55%, #F9F295 69.43%, #B88A44 97.22%);
filter: blur(7.692307949066162px);
    z-index: -1;

  }
  .btn-fade::after {
    content: "";
    position: absolute;
    inset: 0;
  border-radius: 153.846px;
background: linear-gradient(90deg, rgba(249, 242, 149, 0.20) 5.47%, rgba(224, 170, 62, 0.20) 38.55%, rgba(249, 242, 149, 0.20) 69.43%, rgba(184, 138, 68, 0.20) 97.22%);
box-shadow: 0 -1.538px 3.077px 0 #F5E99C inset, 0 1.538px 3.077px 0 #F5E99C inset;
    z-index: -1;
  }
}

@layer components {
  .card {
    background: #b88a44;
  }
  .dropdown_bg {
    border-radius: 84.498px;
    border: 0.85px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 253, 253, 0.02);
    box-shadow: 0 -2.485px 8.497px 0 rgba(255, 255, 255, 0.58) inset,
      0 3.399px 50.979px 0 rgba(255, 255, 255, 0.08) inset;
  }
  .walletinput_bg {
    border-radius: 6.838px;
    border: 0.684px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
  }
}

@layer utilities {
  .text_gradient {
    background: linear-gradient(
      90deg,
      #f9f295 5.47%,
      #e0aa3e 38.55%,
      #f9f295 69.43%,
      #b88a44 97.22%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text_gradient_gray {
    background: linear-gradient(
      90deg,
      #e5e4e2 5.47%,
      #8999b7 38.55%,
      #acb2bd 69.43%,
      #8899b6 97.22%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Accordion animations */
/* 
  .bg_herosection {
    background-image: url(../src//assets/herosection/herobg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bg_resultssection {
    background-image: url(../src//assets/results/results_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
 
 
  .Benefits_bg {
    background-image: url(../src//assets/Benefits/Benefit_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .how_to_buy_bg {
    background-image: url(../src/assets/howtobuy/how_to_buy_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
 
  .howdoesit_bg {
    background-image: url(../src/assets/HowDoesIt/howdoesit_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  

  .disrupting_bg {
    background-image: url(../src/assets/ComparisonChartSection/comp_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .Roadmap_bg {
    background-image: url(../src/assets/Roadmap/roadmap_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  } */

   /* .bg_gambling_con {
    background-image: url(../src//assets/gambling/gambling_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  } */
   .SCORPUtility_bg {
    background-image: url(../src/assets/SCORPUtilitySection/scorpio_ui_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
    .staking_rewards_bg {
    background-image: url(../src/assets/stakingrewards/staking_rewards_bg.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
    .bg_gambling_inner {
    background-image: url(../src//assets/gambling/gambling_inner.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .mob_br br {
    display: none !important;
  }
  .des_br br {
    display: block !important;
  }

   @media (max-width: 768px) {
      .mob_br br {
    display: block !important;
  }
  .des_br br {
    display: none !important;
  }

    .bg_gambling_inner {
    background-image: url(../src//assets/gambling/gambling_inner_mob.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
   .staking_rewards_bg {
    background-image: url(../src/assets/stakingrewards/staking_rewards_bg_mob.webp);
  }
   .SCORPUtility_bg {
    background-image: url(../src/assets/SCORPUtilitySection/scorpio_ui_bg_mob.webp);
  }
   /* 
 
  
  .bg_herosection {
    background-image: url(../src//assets/herosection/hero_secrtion.webp);
  } */
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

.glass-box {
  background: rgba(27, 26, 22, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari support */
}

/* footer classes Start*/

.quick-link {
  color: #cacaca;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.quick-link:hover {
  background: linear-gradient(
    90deg,
    rgba(249, 242, 149, 1) 5.47%,
    rgba(224, 170, 62, 1) 38.55%,
    rgba(249, 242, 149, 1) 69.43%,
    rgba(184, 138, 68, 1) 97.22%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* applies gradient to text */
}

.gradient_quick_links {
  position: relative;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-decoration: none; /* disable default underline */
  transition: all 0.3s ease;
}

.gradient_quick_links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #fff;
  transition: background 0.3s ease;
}

.gradient_quick_links:hover {
  background: linear-gradient(
    90deg,
    rgba(249, 242, 149, 1) 5.47%,
    rgba(224, 170, 62, 1) 38.55%,
    rgba(249, 242, 149, 1) 69.43%,
    rgba(184, 138, 68, 1) 97.22%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_quick_links:hover::after {
  background: linear-gradient(
    90deg,
    rgba(249, 242, 149, 1) 5.47%,
    rgba(224, 170, 62, 1) 38.55%,
    rgba(249, 242, 149, 1) 69.43%,
    rgba(184, 138, 68, 1) 97.22%
  );
}

/* footer classes End*/

/* heading responsive */
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
  }

  h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  
}
